{% extends "base.html" %}
{% from "partials/datatable.html" import datatable with context %}
{% block head %}
<script type="module" src="{{ static_url('datatable.js') }}"></script>
{% endblock %}
{% block subhead %}
<p class="badges">
  <span class="badge">{{ num(all_systems.total) }} system{{ "" if all_systems.total == 1 else "s" }}</span>
  <span class="badge"><a href="{{ standalone_url }}">{{ num(standalone_total) }} standalone</a></span>
</p>
{% endblock %}
{% block content %}
<section class="panel" id="all-systems" aria-labelledby="all-systems-heading">
  <div class="panel-header">
    <h2 id="all-systems-heading" class="sr-only">All Systems</h2>
  </div>
  {{ datatable(all_systems) }}
</section>
{% endblock %}
